@use "../abstracts/variables";

body.dark{
  background-color: variables.$dbody-color;

  .home {
    background-color: variables.$dbody-color;
    
    .text {
      color: variables.$dtext-color;
    }
  }
  .sidebar {
    background-color: variables.$dsidebar-color;

    header .toggle {
        background-color: variables.$dprimary-color;
    }
    .mode {
      background-color: variables.$dtoggle-color;
      color: variables.$dtext-color;
    }
    i,
    a, .celsius {
      color: variables.$dtext-color;
    }

    li {
      a:hover {
        background-color: rgb(44, 44, 44);
      }
    }
  }
}
/* Animation */
body {
  transition: all 0.2s ease;
  height: 100vh;
  background-color: variables.$body-color;
}

label {
  color: white;
}