@use "../abstracts/variables";
@use "../abstracts/mixins";

//Sidonavigatonsmenyn
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  background-color: variables.$sidebar-color;
  padding: 10px 14px;
  transition: all 0.5s ease;
  z-index: 1;

  .text {
    transition: all 0.3s ease;
    white-space: nowrap;
  }

  .menu-bar {
    height: calc(100% - 70px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    //Darkmode knapp
    .mode {
      position: relative;
      background-color: variables.$body-color;
      border-radius: 20px;

      .toggle-switch {
        position: absolute;
        right: 0px;
        @include mixins.flex();
        justify-content: center;
        height: 100%;
        min-width: 60px;
        cursor: pointer;

        .switch {
          position: relative;
          height: 22px;
          width: 44px;
          border-radius: 25px;
          background-color: variables.$toggle-color;

          &::before {
            content: "";
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            transition: all 0.3s ease;
            background-color: variables.$sidebar-color;
          }
        }
      }
      //Ikoner
      i {
        position: absolute;
        transition: all 0.3s ease;
      }
      //Solikonen
      i.sun {
        opacity: 0;
      }
      //Båda ikonerna
      .moon-sun {
        height: 50px;
        width: 60px;
        display: flex;
        align-items: center;
      }
    }
  }
  //Knapp för att utöka menyn
  header {
    position: relative;

    .toggle {
      position: absolute;
      top: 50%;
      right: -25px;
      height: 25px;
      width: 25px;
      background-color: variables.$primary-color;
      @include mixins.flex();
      justify-content: center;
      border-radius: 50%;
      color: variables.$sidebar-color;
      font-size: 20px;
      padding: 15px;
      cursor: pointer;
      transform: translateY(-50%) rotate(180deg);
    }
  }
  /* Texten i listan/navigationen */
  li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    @include mixins.flex();

    a {
      font-size: 16px;
      font-weight: 700;
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: variables.$text-color;
      border-radius: 6px;
      @include mixins.flex();
      transition: all 0.4s ease;
    }

    a:hover {
      background-color: variables.$primary-color;
      color: variables.$sidebar-color;
    }

    a:hover .icon {
      color: white;
    }
    //Styling för celsius
    .icon, .celsius {
      @include mixins.flex();
      justify-content: center;
      min-width: 60px;
      font-size: 20px;
      color: variables.$text-color;
    }
  }
  //Styling för ikon/logotyp
  .image {
    min-width: 60px;
    display: flex;
    align-items: center;
  }

  .image-text {
    width: 40px;
  }
}
//Lite darkmode detaljer i navmenyn
body.dark {
  .switch::before {
    left: 25px !important;
  }

  .menu-bar {
    .mode {
      i.sun {
        opacity: 1;
      }

      i.moon {
        opacity: 0;
      }
    }
  }
}

.sidebar.close {
  width: 88px;

  .text {
    opacity: 0;
  }

  header {
    .toggle {
      transform: translateY(-50%);
    }
  }
}

.celsius {
  font-weight: 500;
}
