@use "../abstracts/variables";

.home {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background-color: variables.$body-color;
  transition: all 0.5s ease;
  .text {
    font-size: 30px;
    font-weight: 500;
    color: variables.$text-color;
    padding: 23px 40px;
  }
}

.sidebar.close ~ .home {
  left: 88px;
  width: calc(100% - 88px);
}

/* Leaflet */

#map {
  height: 500px;
  width: 80%;
  margin: 5em auto;
  transition-duration: 0.4s;
}
#map:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.searchfield {
  margin: auto;
  width: 80%;
  text-align: center;

  label {
    font-size: 20px;
    color: black;
  }

  input {
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
    height: 30px;
    border: none;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    transition-duration: 0.4s;
  }

  input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  button {
    margin: 30px 0;
    width: 150px;
    height: 50px;
    font-weight: 700;
    border-radius: 15px;
    border: 2px solid black;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  #searchBtn:hover {
    background-color: variables.$dprimary-color;
    color: white;
  }
}

@media (max-width: 500px) {
  input {
    width: 200px !important;
  }
}