
/* Light mode */
$body-color: #E4E9F7;
$sidebar-color: #FFF;
$primary-color: blue;
$primary-color-light: #F6F5FF;
$toggle-color: #9e9d9d;
$text-color: #707070;

/* Darkmode */
$dbody-color: #18191A;
$dsidebar-color: #242526;
$dprimary-color: #3A3B3C;
$dprimary-color-light: #3A3B3C;
$dtoggle-color: #FFF;
$dtext-color: #CCC;